/* common code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size:14px;
    line-height:22px;
}
.fix:before,.fix:after {
    content: "";
    display: table;
    clear: both;
}
.area {
    width:1000px;
    margin: 0 auto;
}
img {
    width: 100%;
}
ul{
    list-style: none;
}
/* header css */

.header{
    background-color: #CBCAC8;
    padding: 20px;
}
.logo {
    float: left;
    width: 150px;
    margin-right: 30px;
}

.logo a{}
.logo a img{}
 .menu{
    float: right;
    width: 780px;
 }
 .menu ul{
    text-align: right;   
    margin-top: 10px; 
 }
 .menu ul li{
    display: inline-block;  
 }
 .menu ul li a{
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    transition: .3s;
 }
 .menu ul li a:hover{
     color: #fff;
     background-color: tomato;
 } 
 /* banner css */
 .banner img{
     width: 100%;
 }
 /* service css */
 .service-title h2{
     text-align: center;
     text-transform: uppercase;
     color: #333;
     padding: 20px;
 }
 .single-service{
     float: left;
     width: 313px;
     margin-right: 20px;
     background-color:#CBCAC8;
 }
 .contact-area{
     background-color: #bee2f3;     
 }
 .contact-content{
     text-align: center;
     font-size:28px;
     padding: 20px;
 }

 .footer-area{
     background-color: #CBCAC8;
 }
 .footer-content{
     text-align: center;
     padding: 20px;     
 }