/* common code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size:14px;
    line-height:22px;
}
.area {
    width:1000px;
    margin: 0 auto;
}
img {
    width: 100%;
}
.header{}
.logo{}
.logo a{}
.logo a img{}
 .menu{
     float:left;
 }
 .memu ul{
     list-style: none;
 }
 .menu ul li{
     display: inline-block;
 }
 .menu ul li a{
     text-decoration: none;
     margin: 10px;
     padding: 20px;
     font-size: 18px;
     text-transform:uppercase;
 }
 .banner{}
 .banner img{}